<div class="col-md-6 offset-md-3">
  <br><br><br><br>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        Registrarse
      </h3>
    </div>
    <div class="card-body">
      <%= simple_form_for @article do |f|%>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.submit "Crear Articulo" %>
      <% end %>
    </div>
  </div>
</div>